.box-container{
	background-color: DodgerBlue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /* The "flex-wrap: wrap;" specifies that the flex items will wrap if necessary */
	justify-content: space-around; /* The space-around value displays the flex items with space before, between, and after the lines */
}

.box-container > div{
	background-color: #f1f1f1;
	max-width: 100px;
	margin: 10px;
  	padding: 20px;
}
